@tailwind base;
@tailwind components;

.hero {
  @apply text-center font-black text-white text-2xl my-16;
}

.banner {
  @apply flex items-center justify-center min-h-screen bg-blue-900 bg-gradient-to-b from-orange-400 via-red-500 to-blue-900
}

.title {
  @apply text-center font-bold block flex mt-4 items-center justify-center;
  color: #ffffff;
  line-height: 1.15;
  font-size: 60px;
}

.guardianClass {
  @apply text-center font-bold text-2xl;
  color: #ffffff;
  line-height: 1.15;
}

@tailwind utilities;

.triangle-wrapper {
  width: 400px;
  height: calc(400px / (1 / 1));
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: #520e52;
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle {
  width: calc(400px - 30px);
  height: calc(400px - 30px);
  background-color: #122436;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  margin-top: 10px;
  filter: blur(115px) drop-shadow(-10px -10px 75px #520e52);
}
